{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{% static 'css/styles.css' %} " type="text/css"  rel="stylesheet">
    <title>Cadastro</title>
</head>

<body>
    <div class="container">
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">Criar uma conta</h2>
                <p class="description description-primary">inscreva-se aqui se você não tiver uma conta</p>
                
                <button id="signin" class="btn btn-primary">sign up</button>
            </div> 
            <div class="second-column">
                <h2 class="title">Criar uma conta</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div><!-- social media -->
                <p class="description">Continuar com:</p>
                <form class="form">
                    <input type="text" placeholder="Nome">
                    <input type="text" placeholder="Sobrenome">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Senha">
                    <input type="date" placeholder="Data de nascimento">
                    <button class="btn">Inscrever-se</button>
                </form>
            </div><!-- second column -->
        </div><!-- second contend -->
    </div>
</body>
</html>
