{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href= "{% static 'css/menuCSS.css' %} " type="text/css"  rel="stylesheet">

</head>


<input type="checkbox" id="bt_menu">
<label for="bt_menu">&#9776;</label>
<nav class="menu">
    <img class ="logo" src="{% static 'img/logo.png' %}" alt="logo" width= "100vh" >
	<div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <ul>
    	<li><a href="#">Home</a></li>
          <li><a href="#">Sobre</a>
            <li><a href="quem.html">Quem Somos</a></li>
                <li><a href="#">Serviços</a>
                    <ul>
                        <li><a href="#">Marketing Digital</a></li>
                        <li><a href="#">Criação de Sites</a>
                        <li><a href="#">Design Gráfico</a>
                        <li><a href="#">Lojas Virtuais</a>
                    </ul>

        
        </li>
        <li><a href="#">Contato</a>
    </ul>
    <div class="search-side" style="margin-top: 0px;"> <a href="#" class="show-search"><i class="icon-search-1"></i></a>
        <div class="search-form">
          <form autocomplete="off" role="search" method="get" class="searchform" action="#">
            <input type="text" value="" name="s" id="s" placeholder="Buscar...">
          </form>
        </div>
      </div>
</nav>